@font-face {
    font-family: 'baijamjuree-medium';
    src: url('../assets/BaiJamjuree-Medium.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'baijamjuree-bold';
    src: url('../assets/BaiJamjuree-Bold.ttf') format('truetype');
    font-weight: bold;
}
body {
    color: #5d5d5d;
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
}
h1 {
    font-family: 'baijamjuree-bold';
    color: #565656;
    text-align: center;
    padding: 20px;
}

p {
    font-family: 'baijamjuree-bold';
    color: #666;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #007bff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

img {
    display: block;
    max-width: 20%;
    height: 20%;
    margin: 7px auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}